.taxe-container .toolbar {
  min-height: 60px;
  padding: 10px;
  margin-top: 20px;
}

.taxe-container .toolbar .title {
  font-size: 18px;
  font-weight: bold;
  color: #414040;
  margin-bottom: 20px;
}


.taxe-container .main-body {
  height: 27vh;
  overflow: auto;
}
