.contribuable-container {
  line-height: 1.5 !important;
  padding: 3px;
}

.contribuable-container .toolbar {
  padding-top: 5px;
  padding-bottom: 10px;
}

.contribuable-container .toolbar .title {
  font-size: 22px;
  color: #414040;
  font-weight: bold;
  margin-top: 12px;
  margin-left: 3px;
  margin-bottom: 12px;
}

.contribuable-container .option-box {
  width: 40%;
}

.contribuable-container .main-body {
  height: 60vh;
  overflow: auto;
}
