<div class="vehicle-container">
  <div class="toolbar">
    <div class="d-flex">
      <app-search-bar [id]="'search-car'" [placeholder]="'Numéro de plaque'"></app-search-bar>
      <app-btn-dropdown [title]="'Option'" [datas]="options"
                        (eventSelectedOption)="onOptionSelected($event)"></app-btn-dropdown>
    </div>
  </div>
  <div class="main-body">
    <app-table-model [datas]="vehicules" [headers]="headers" (eventSelectItem)="onSelectItem($event)"
                     (eventDataSelectedItem)="onDataSelectedItem($event)"></app-table-model>
  </div>
  <app-vehicle-form (eventSave)="onAddVehicle($event)" [displayMeForm]="displayVehicleForm"
                    (eventClose)="onCloseVehicleForm()"></app-vehicle-form>
  <app-vehicule-form-edit [vehicleSelected]="dataSelectedItem" (eventSave)="onEdit()"
                          [displayMeForm]="displayVehicleFormEdit"
                          (eventClose)="onCloseVehicleFormEdit()"></app-vehicule-form-edit>
</div>
