<div class="contribuable-container">
  <h3 class="container-title col-11 m-auto">Contribuable</h3>
  <form class="col-10 m-auto" [formGroup]="formGroup">
    <div class="line-up">
      <div class="d-flex">
        <div class="field-box">
          <h6 class="label">Nom</h6>
          <app-input-text [id]="'lastname'" [formGroup]="formGroup" [placeholder]="'Nom'"
                          [type]="'text'"></app-input-text>
        </div>
        <div class="field-box">
          <h6 class="label">Prénom</h6>
          <app-input-text [id]="'name'" [formGroup]="formGroup" [placeholder]="'Prénom'"
                          [type]="'text'"></app-input-text>
        </div>
      </div>
      <div class="d-flex ">
        <div class="field-box">
          <h6 class="label">Téléphone</h6>
          <app-input-text [id]="'phoneNumber'" [formGroup]="formGroup" [placeholder]="'Téléphone'"
                          [type]="'text'"></app-input-text>
        </div>
        <div class="field-box">
          <h6 class="label">Adresse</h6>
          <app-input-text [id]="'address'" [formGroup]="formGroup" [placeholder]="'Adresse'"
                          [type]="'text'" [multiligne]="true"></app-input-text>
        </div>
      </div>
      <div class="d-flex">
        <div class="field-box">
          <h6 class="label">Pièce d'identité</h6>
          <app-select-option
            [options]="identityOptions"
            [formGroup]="formGroup" [id]="'typeCarte'"
          ></app-select-option>
        </div>
        <div class="field-box">
          <h6 class="label">ID. Identité</h6>
          <app-input-text [id]="'identityId'" [formGroup]="formGroup" [placeholder]="'ID Pièce d\'identité'"
                          [type]="'text'"></app-input-text>
        </div>
      </div>
    </div>
    <div class="line-up">
      <div class="toolbar d-flex">
        <h3 class="title col-2">Véhicule</h3>
        <div class="col-10">
          <div class="btn-add-vehicle">
            <app-button [withIcon]="true" [icon]="'fa fa-pencil'" [id]="'add-vehicle'"
                        (clickEvent)="onOpenVehicleForm()"></app-button>
          </div>
        </div>
      </div>
      <app-table-model [withRm]="true" [headers]="headers"
                       [datas]="vehicles" (eventRemoveItem)="onRemoveSelectedVehicle($event)"></app-table-model>
    </div>
    <div class="contribuable-container-footer d-flex">
      <div class="error-msg col-8">
        {{errorMsg}}
      </div>
      <div class="col-4">
        <div class="save-btn-box">
          <app-button [id]="'btn-contribuable'" [text]="'Enregistrer'" [withIcon]="true"
                      (clickEvent)="onCreateContrible($event)"></app-button>
        </div>
      </div>
    </div>
  </form>
  <app-vehicle-form (eventSave)="onAddVehicle($event)" [displayMeForm]="displayVehicleForm"
                    (eventClose)="onCloseVehicleForm()"></app-vehicle-form>


</div>
