.report-insurance {
  margin-top: 30px;
}

.report-insurance .toolbar{
  margin: 5px;
}

.report-insurance .report-insurance-data {
  height: 45vh;
  overflow: auto;
}
.report-insurance .toolbar .search-bar {
}
