.driver-form {
  padding-top: 10vh;
  line-height: 1.5 !important;
}

.driver-form .modal-header {
  background: linear-gradient(to top, #c5c5c5 -100%, #e8e8e8);
}

.driver-form .modal-content {
  width: 50%;
  box-shadow: 0 0 7px #b6b6b6;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  margin: auto;
}

.driver-form .btn-close {
  cursor: pointer;
}

.driver-form form {
  width: 90%;
  margin: auto;
}

.driver-form .field-box {
  padding: 3px;
  margin-top: 12px;
}

.driver-form .field-box .title {
  font-size: 13px;
  font-weight: 300;
  color: #414040;
}

.driver-form .modal-footer .msg-box {
  color: red;
  font-size: 13px;
}
