.payement-taxe {
  width: 100%;
  line-height: 1.5;
}

.payement-taxe .payement-form {
  margin-bottom: 15px;
}

.payement-taxe .payement-form form .field-box {
  padding: 7px;
  width: 50%;
}
.payement-taxe .payement-form .field-main-box {
  padding: 7px;
  width: 100%;
}

.payement-taxe .payement-form form {
  padding-top: 12px;
}

.payement-taxe .payement-form form .line-up {
  width: 100%;
}

.payement-taxe .paiement-detail-box {
  border-top: 1px solid #e1e1e1;
}

.payement-taxe .payement-form .label,
.echeance-label {
  font-size: 14px;
  color: #414040;
}
.payement-taxe .periode-box .label,
.echeance-label {
  margin: 0px;
}
.echeance-label {
  margin-left: 8px;
}

.paiement-detail-box {
  border: 1px solid #e1e1e1;
  box-shadow: 0px 0px 3px #e1e1e1;
}

.paiement-detail-box .search-box {
  margin-bottom: 12px;
}
.paiement-detail-box .detail-title {
  font-size: 16px;
  color: #414040;
  font-weight: bold;
  border-bottom: 1px solid #e1e1e1;
  padding: 12px;
}
.paiement-detail-box .detail-label {
  font-weight: bold;
  color: #414040;
}
.paiement-detail-box .detail-body {
  font-size: 14px;
}
.paiement-detail-box .btn-confirm-box {
  float: right;
  padding-right: 7px;
  margin: 10px;
  min-width: 1px;
}

.payement-taxe .periode-box {
  width: 100%;
  margin-top: 12px;
}

.payement-taxe .periode-box .label {
  text-align: right;
}
.btn-confirm-box .label {
  color: red;
  font-size: 13px;
  padding: 7px;
}
