<table class="table-model table table-hover">
  <thead>
  <tr>
    <th *ngIf="showCheck">
      <div class="title">
      </div>
    </th>
    <th *ngFor="let title of headers">
      <div class="title">
        {{title}}
      </div>
    </th>
    <th *ngIf="withRm">
      <div class="title">
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr #tr [id]="data.id" *ngFor="let data of datas" (click)="onSelectedItem(tr)">
    <td *ngIf="showCheck">
      <div class="check-item">

      </div>
    </td>
    <td [id]="item.key+data.id" *ngFor="let item of data | keyvalue:asIsOrder">
      <div *ngIf="isShowCol(item.key+data.id,item)">
        {{item.value}}
      </div>
    </td>
    <td *ngIf="withRm">
      <i class="fa fa-close rm-item" (click)="onRemoveItem(data.id)">

      </i>
    </td>
  </tr>
  </tbody>
</table>
