<div class="payement-container">
  <div class="toolbar" hidden>
    <h3 class="title">Paiement</h3>
  </div>
  <div class="detail-sub-menu">
    <div class="btn-toolbar">
      <button #btn class="btn-tab btn btn-info active-tab" [routerLink]="['taxe']" (click)="onSelectedTab(btn)">
        Taxe
      </button>
      <button #btn1 class="btn-tab btn btn-info" [routerLink]="['contravention']" (click)="onSelectedTab(btn1)">
        Contravention
      </button>
    </div>
  </div>
  <div class="payement-main">
    <router-outlet></router-outlet>
  </div>
</div>
