<div class="config-regie-form modal" [ngStyle]="{'display':display}">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        Nouveau regie
      </div>
      <div class="btn-close" (click)="onClose()"></div>
    </div>
    <div class="modal-body">
      <form [formGroup]="formGroup">
        <div class="d-flex">
          <div class="field-box col-6">
            <h6 class="label">Dénomination</h6>
            <app-input-text [formGroup]="formGroup" [id]="'name'" [placeholder]="'Dénomination'"></app-input-text>
          </div>
        </div>
        <div class="payement-account">
          <h6 class="title">Mode de perception du paiement</h6>
          <div class="d-flex">
            <div class="d-flex col-11">
              <div class="field-box col-6">
                <h6 class="label">Mode de paiement</h6>
                <app-select-option [id]="'denomination'" [options]="selectOption" [formGroup]="formGroup">
                </app-select-option>
              </div>
              <div class="field-box col-6">
                <h6 class="label">N° de compte</h6>
                <app-input-text [formGroup]="formGroup" [id]="'number'" [placeholder]="'Numéro'"></app-input-text>
              </div>
            </div>
            <div class="field-box col-1">
              <h6 class="label" [ngStyle]="{'color':'white'}">Valider</h6>
              <app-button [icon]="'fa fa-pencil'" [withIcon]="true" (clickEvent)="onPayement()"></app-button>
            </div>
          </div>
          <app-table-model [headers]="headers" [datas]="payementAccounts"></app-table-model>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="msg-box">
        {{errorMsg}}
      </div>
      <app-button [id]="'regie-add-form'" [text]="'Ajouter'" (clickEvent)="onValidate($event)" [withIcon]="true">
      </app-button>
    </div>
  </div>
</div>
