<div class="user-edit-form modal" [ngStyle]="{'display':display}">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        Utilisateur
      </div>
      <div class="btn-close" (click)="onClose()"></div>
    </div>
    <div class="modal-body">
      <form [formGroup]="formGroup">
        <div class="d-flex">
          <div class="field-box col-12">
            <label [ngStyle]="{'font-weight': 'bold'}">Nom d'utilisateur :</label> {{username}}
          </div>
        </div>

        <div class="d-flex">
          <div class="field-box col-12">
            <h6 class="label">Ancien mot de passe</h6>
            <app-input-text [formGroup]="formGroup" [type]="'password'" [id]="'opassword'" [placeholder]="'Ancien mot de passe'">
            </app-input-text>
          </div>
        </div>
        <div class="d-flex">
          <div class="field-box col-12">
            <h6 class="label">Nouveau mot de passe</h6>
            <app-input-text [formGroup]="formGroup" [type]="'password'" [id]="'npassword'"
              [placeholder]="'Nouveau mot de passe'"></app-input-text>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="msg-box">
        {{errorMsg}}
      </div>
      <app-button [id]="'user-add-form-btn'" [text]="'Valider'" (clickEvent)="onValidate($event)" [withIcon]="true">
      </app-button>
    </div>
  </div>
</div>
