<div class="config-regie-detail modal" [ngStyle]="{'display':display}">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        Détail
      </div>
      <div class="btn-close" (click)="onClose()"></div>
    </div>
    <div class="modal-body">
      <table class="table">
        <tbody>
          <tr>
            <td>Dénomination</td>
            <td>{{denomination}}</td>
          </tr>
          <tr>
            <td>Modalité</td>
            <td>{{modalite}}</td>
          </tr>
          <tr>
            <td>Echéance</td>
            <td>{{echeance}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <div class="msg-box">
      </div>
      <app-button [id]="'regie-add-form'" [text]="'Fermer'" (clickEvent)="onClose()" [withIcon]="true">
      </app-button>
    </div>
  </div>
</div>
