<div class="vehicle-container">
  <div class="toolbar">
    <div class="title">
      Véhicules
    </div>
    <div class="d-flex">
      <app-search-bar [id]="'search-car'" [placeholder]="'Numéro de plaque'"></app-search-bar>
      <app-btn-dropdown [title]="'Option'" [datas]="options"
                        (eventSelectedOption)="onOptionSelected($event)"></app-btn-dropdown>
    </div>
  </div>
  <div class="main-body">
    <app-table-model [datas]="vehicules" [headers]="headers"></app-table-model>
  </div>
</div>
