<div class="vehicule-form">
  <h2 class="vehicule-form-title">Véhicule</h2>
  <form [formGroup]="formGroup">
    <div class="line-up">
      <h3 class="title">Détail</h3>
      <div class="d-flex">
        <div class="field-box">
          <h6 class="label">Marque </h6>
          <app-input-text [id]="'brand'" [formGroup]="formGroup" [placeholder]="'Marque'"
                          [type]="'text'"></app-input-text>
        </div>
        <div class="field-box">
          <h6 class="label">Modèle</h6>
          <app-input-text [id]="'modele'" [formGroup]="formGroup" [placeholder]="'Modèle'"
                          [type]="'text'"></app-input-text>
        </div>
      </div>
      <div class="d-flex">
        <div class="field-box">
          <h6 class="label">Numéro de plaque</h6>
          <app-input-text [id]="'idNumber'" [formGroup]="formGroup" [placeholder]="'Numéro de plaque'"
                          [type]="'text'"></app-input-text>
        </div>
        <div class="field-box">
          <h6 class="label">N° d'assurance</h6>
          <app-input-text [id]="'insurance'" [formGroup]="formGroup" [placeholder]="'Assurance'"
                          [type]="'text'"></app-input-text>
        </div>
      </div>
      <div class="d-flex">
        <div class="field-box">
          <h6 class="label">N° volet jaune</h6>
          <app-input-text [id]="'voletJaune'" [formGroup]="formGroup" [placeholder]="'Volet jaune'"
                          [type]="'text'"></app-input-text>
        </div>
        <div class="field-box">
          <h6 class="label">N° Carte rose</h6>
          <app-input-text [id]="'carteRose'" [formGroup]="formGroup" [placeholder]="'Carte rose'"
                          [type]="'text'"></app-input-text>
        </div>
      </div>
    </div>
    <div class="line-up">
      <h3 class="title">Propriétaire</h3>
      <div class="d-flex">
        <div class="field-box">
          <h6 class="label">Nom</h6>
          <app-input-text [id]="'lastname'" [formGroup]="formGroup" [placeholder]="'Nom'"
                          [type]="'text'"></app-input-text>
        </div>
        <div class="field-box">
          <h6 class="label">Prénom</h6>
          <app-input-text [id]="'name'" [formGroup]="formGroup" [placeholder]="'Prénom'"
                          [type]="'text'"></app-input-text>
        </div>
      </div>
      <div class="d-flex">
        <div class="field-box">
          <h6 class="label">Téléphone</h6>
          <app-input-text [id]="'phoneNumber'" [formGroup]="formGroup" [placeholder]="'Téléphone'"
                          [type]="'text'"></app-input-text>
        </div>
        <div class="field-box">
          <h6 class="label">Adresse</h6>
          <app-input-text [id]="'address'" [formGroup]="formGroup" [placeholder]="'Adresse'"
                          [type]="'text'" [multiligne]="true"></app-input-text>
        </div>
      </div>
      <div class="d-flex">
        <div class="field-box">
          <h6 class="label">Pièce d'identité</h6>
          <app-select-option
            [options]="options"
            [formGroup]="formGroup" [id]="'typeCarte'"
          ></app-select-option>
        </div>
        <div class="field-box">
          <h6 class="label">ID. Identité</h6>
          <app-input-text [id]="'identityId'" [formGroup]="formGroup" [placeholder]="'ID Pièce d\'identité'"
                          [type]="'text'"></app-input-text>
        </div>
      </div>
    </div>
    <div class="line-up">
      <div class="toolbar d-flex">
        <h3 class="title col-2">Conducteur</h3>
        <div class="col-10">
          <div class="btn-add-vehicle">
            <app-button [withIcon]="true" [icon]="'fa fa-pencil'" [id]="'add-driver'"
                        (clickEvent)="onOpenFormDriver()"></app-button>
          </div>
        </div>
      </div>
      <app-table-model [withRm]="true" [headers]="headers"
                       [datas]="drivers" (eventRemoveItem)="onRemoveDriver($event)"></app-table-model>
    </div>
    <div class="footer-line-up d-flex">
      <div class="error-msg col-11">
        {{errorMsg}}
      </div>
      <div class="btn-save-box col-1">
        <div class="btn-box">
          <app-button [id]="'btn-create-vehcle'" [text]="'Enregistrer'" [withIcon]="true"
                      (clickEvent)="onCreateVehicle($event)"></app-button>
        </div>
      </div>
    </div>
  </form>
  <app-driver-form (eventSave)="onAddDriver($event)" [display]="display"
                   (eventClose)="onCloseFormDriver()"></app-driver-form>
</div>
