<div [formGroup]="formGroup" *ngIf="!multiligne">
  <input [id]="id" class="form-control input-text"
         [formControlName]="id" [value]="value"
         [placeholder]="placeholder"
         [name]="id"
         [type]="type" autocomplete="off" (keyup)="onKeyUpEvent()"/>

</div>
<div [formGroup]="formGroup" *ngIf="multiligne">
  <textarea [id]="id" class="form-control input-text"
            [formControlName]="id" [value]="value"
            [placeholder]="placeholder"
            [name]="id"
            autocomplete="off" (keyup)="onKeyUpEvent()"></textarea>

</div>
