<div [formGroup]="formGroup" *ngIf="!multiligne">
  <input #input [id]="id" class="form-control input-text" [formControlName]="id" [value]="value"
    [placeholder]="placeholder" [name]="id" [disabled]="disabled" [type]="type" autocomplete="off"
    (keyup)="onKeyUpEvent(input)" />

</div>
<div [formGroup]="formGroup" *ngIf="multiligne">
  <textarea #input [id]="id" class="form-control input-text" [formControlName]="id" [value]="value"
    [placeholder]="placeholder" [name]="id" [disabled]="disabled" autocomplete="off"
    (keyup)="onKeyUpEvent(input)"></textarea>

</div>
