<div class="vehicule-form-edit modal" [ngStyle]="{'display':displayMeForm}">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        Véhicule
      </div>
      <div class="btn-close" (click)="closeMe()">
      </div>
    </div>
    <div class="modal-body">
      <form class="col-10 m-auto" [formGroup]="formGroup" *ngIf="vehicleSelected!=null">
        <div class="line-up">
          <div class="d-flex">
            <div class="field-box">
              <h6 class="label">Marque </h6>
              <app-input-text [id]="'brand'" [formGroup]="formGroup" [placeholder]="'Marque'"
                              [type]="'text'" [value]="vehicleSelected.brand" (keyUpEvent)="onKeyUp()"></app-input-text>
            </div>
            <div class="field-box">
              <h6 class="label">Modèle</h6>
              <app-input-text [id]="'modele'" [formGroup]="formGroup" [placeholder]="'Modèle'"
                              [type]="'text'" (keyUpEvent)="onKeyUp()"></app-input-text>
            </div>
          </div>
          <div class="d-flex">
            <div class="field-box">
              <h6 class="label">Numéro de plaque</h6>
              <app-input-text [id]="'idNumber'" [formGroup]="formGroup" [placeholder]="'Numéro de plaque'"
                              [type]="'text'" (keyUpEvent)="onKeyUp()"></app-input-text>
            </div>
            <div class="field-box">
              <h6 class="label">N° d'assurance</h6>
              <app-input-text [id]="'insuranceId'" [formGroup]="formGroup" [placeholder]="'Assurance'"
                              [type]="'text'" (keyUpEvent)="onKeyUp()"></app-input-text>
            </div>
          </div>
          <div class="d-flex">
            <div class="field-box">
              <h6 class="label">N° volet jaune</h6>
              <app-input-text [id]="'voletJauneId'" [formGroup]="formGroup" [placeholder]="'Volet jaune'"
                              [type]="'text'" (keyUpEvent)="onKeyUp()"></app-input-text>
            </div>
            <div class="field-box">
              <h6 class="label">N° Carte rose</h6>
              <app-input-text [id]="'carteRoseId'" [formGroup]="formGroup" [placeholder]="'Carte rose'"
                              [type]="'text'" (keyUpEvent)="onKeyUp()"></app-input-text>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="error-msg col-11">
        {{errorMsg}}
      </div>
      <app-button #btn [id]="'btn-edit-vehcle'" [text]="'Valider'" [withIcon]="true"
                  (clickEvent)="onUpdate(btn)"  [disabled]="true"></app-button>
    </div>
  </div>
</div>
