.vehicule-form-edit {
  padding-top: 15px;
  padding-bottom: 30px;
}

.vehicule-form-edit .modal-content {
  width: 70%;
  box-shadow: 0 0 7px #b6b6b6;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  margin: auto;
}

.vehicule-form-edit .modal-header {
  background: linear-gradient(to top, #c5c5c5 -100%, #e8e8e8);
}

.vehicule-form-edit form {
  overflow: auto;
}

.vehicule-form-edit .btn-close {
  font-weight: bold;
  font-size: 10px;
  cursor: pointer;
  color: #414040;
}

.vehicule-form-edit form .field-box {
  padding: 2px;
}

.vehicule-form-edit form .title {
  color: #414040;
  font-size: 16px;
  font-weight: bold;
}

.vehicule-form-edit form .line-up {
  margin-top: 30px;
}

.vehicule-form-edit form .field-box {
  margin-top: 12px;
  width: 90%;
}

.vehicule-form-edit form .btn-add-vehicle {
  float: right;
  min-width: 10px;
}

.vehicule-form-edit .vehicule-form-edit-title {
  width: 90%;
  margin: auto;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px solid #e7e7e7;
  padding: 7px;
}

.vehicule-form-edit .footer-line-up {
  margin-top: 12px;
}

.vehicule-form-edit .footer-line-up .btn-save-box .btn-box {
  min-width: 10px;
  float: right;
}

.vehicule-form-edit .error-msg {
  color: red;
  font-size: 13px;
  text-align: right;
}

.vehicule-form-edit .field-box {
  margin-top: 12px;
}

.vehicule-form-edit .field-box .title {
  font-size: 13px;
  font-weight: 300;
  color: #414040;
}
