<div class="main-container">
  <div class="header-container">
    <div class="up-line">
      <div class="login-profil-box d-flex">
        <div class="btn-group">
          <button class="btn btn-sm d-flex" id="profil-option" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
            <div class="profil-name">{{userData.username}}</div>
            <i class="fa fa-user-circle"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end">
            <a href="#" class="dropdown-item">
              Déconnexion
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="down-line">
      <img class="logo-icon" src="assets/imgs/cocar.png">
    </div>
  </div>
  <div class="body-container m-auto d-flex">
    <div class="main-left-menu">
      <div class="list-group">
        <div class="list-group-item d-flex" [routerLink]="['report/insurance']">
          <i class="fa fa-area-chart"></i>
          <h6 class="title">Reporting</h6>
        </div>
        <div class="list-group-item d-flex" [routerLink]="['payement']">
          <i class="fa fa-usd"></i>
          <h6 class="title">Paiement</h6>
        </div>
        <div class="list-group-item d-flex" [routerLink]="['contribuable']">
          <i class="fa fa-users"></i>
          <h6 class="title">contribuable</h6>
        </div>
        <div class="list-group-item d-flex" [routerLink]="['configuration']">
          <i class="fa fa-cog"></i>
          <h6 class="title">Configuration</h6>
        </div>
        <div class="list-group-item d-flex" [routerLink]="['user']">
          <i class="fa fa-user"></i>
          <h6 class="title">Utilisateurs</h6>
        </div>
      </div>
    </div>
    <div class="main-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
