<div class="user-add-form modal" [ngStyle]="{'display':display}">
  <div class="modal-content">
    <div class="modal-header">
      <div class="modal-title">
        Utilisateur
      </div>
      <div class="btn-close" (click)="onClose()"></div>
    </div>
    <div class="modal-body">
      <form [formGroup]="formGroup">
        <div class="d-flex">
          <div class="field-box col-12">
            <h6 class="label">Nom d'utilisateur</h6>
            <app-input-text [formGroup]="formGroup" [id]="'usernamee'" [placeholder]="'Nom d\'utilisateur'">
            </app-input-text>
          </div>
        </div>
        <div class="d-flex">
          <div class="field-box col-12">
            <h6 class="label">Mot de passe</h6>
            <app-input-text [formGroup]="formGroup" [type]="'password'" [id]="'passwordd'"
              [placeholder]="'Mot de passe'"></app-input-text>
          </div>
        </div>
        <div class="d-flex">
          <div class="field-box col-12">
            <h6 class="label">Role</h6>
            <app-select-option [options]="roleOptions" [id]="'role'" [formGroup]="formGroup" (changeEvent)="onRoleSelected($event)">
            </app-select-option>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <div class="msg-box">
        {{errorMsg}}
      </div>
      <app-button [id]="'user-add-form-btn'" [text]="'Valider'" (clickEvent)="onValidate($event)" [withIcon]="true">
      </app-button>
    </div>
  </div>
</div>
