<div class="detail-container">
  <div class="toolbar">
    <h3 class="title">Information du contribuable</h3>
  </div>
  <div class="main-body">
    <div *ngIf="isLoading">
      <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div *ngIf="!isLoading" class="detail-box d-flex">
      <table class="table">
        <tbody>
        <tr>
          <td class="label">
            Nom
          </td>
          <td>
            {{contribuableData.lastname}}
          </td>
        </tr>
        <tr>
          <td class="label">
            Prénom
          </td>
          <td>
            {{contribuableData.name}}
          </td>
        </tr>
        <tr>
          <td class="label">
            Téléphone
          </td>
          <td>
            {{contribuableData.phoneNumber}}
          </td>
        </tr>
        </tbody>
      </table>
      <table class="table">
        <tbody>
        <tr>
          <td class="label">
            Pièce d'iedentité
          </td>
          <td>
            {{contribuableData.identityId}}
          </td>
        </tr>
        <tr>
          <td class="label">
            Adresse
          </td>
          <td>
            {{contribuableData.address}}
          </td>
        </tr>
        <tr>
          <td class="label">
            Code
          </td>
          <td>
            {{contribuableData.profil.activationCode}}
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="detail-sub-menu">
      <div class="btn-toolbar">
        <button #btn class="btn-tab btn btn-info active-tab" [routerLink]="['vehicule']" (click)="onSelectedTab(btn)">
          Véhicule
        </button>
        <button #btn1 class="btn-tab btn btn-info" [routerLink]="['driver']" (click)="onSelectedTab(btn1)">Chauffeur
        </button>
        <button #btn2 class="btn-tab btn btn-info" [routerLink]="['taxe']" (click)="onSelectedTab(btn2)">Taxes à payé
          ({{nbreTaxe}})
        </button>
        <button #btn3 class="btn-tab btn btn-info" [routerLink]="['contravention']" (click)="onSelectedTab(btn3)">
          Contravention ({{nbreContravention}})
        </button>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
