.detail-container .toolbar {
  padding: 15px;
  border-bottom: 1px solid #e1e1e1;
}

.detail-container .toolbar .title {
  font-size: 20px;
}

.detail-container .detail-box {
  padding: 12px;
}

.detail-container .main-body {
  padding: 7px;
}

.detail-container .detail-box table {
  width: 30%;
  font-size: 14px;
}

.detail-container .detail-box table:last-child {
  margin-left: 20px;
}

.detail-container .detail-box .label {
  font-weight: bold;
  color: #414040;
  line-height: 1.5;
}

.detail-container tr td {
  height: 45px !important;
}

.detail-container .detail-sub-menu .btn-toolbar {
  border-bottom: 1px solid #e1e1e1;
}

.detail-container .detail-sub-menu .btn-tab {
  border-radius: 4px 4px 0px 0px;
  margin-right: 2px;
  background: linear-gradient(to top, #d7d7d7 -100%, #f3f3f3);
  box-shadow: 0px 0px 2px 0px #b7b7b7;
  border: 1px solid #e0e0e0;
  font-size: 13px;
  line-height: 1.5;
  color: #414040;
}

.active-tab {
  background: linear-gradient(to top, #01355A, #036AB4) !important;
  background: -webkit-linear-gradient(to top, #01355A, #036AB4) !important;
  border: none !important;
  font-size: 13px !important;
  color: #ffffff !important;
}
